    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    *{
        font-family: 'Poppins',sans-serif;
        box-sizing:border-box;
    }

    html{
        scroll-behavior: smooth;
    }

    body{
        background-color:var(--primary-color);
    }

    :root{
        --primary-color: #fbfafa;
        --lavender: rgb(125, 80, 247);
        --description: rgb(78, 75, 75);
        --rediconbg: rgb(253, 214, 181);
        --rediconcol: rgb(213, 73, 44);
        --pinkiconbg: #fcd9f0;
        --pinkiconcol: #e562a1;
        --greeniconcol: rgb(40, 135, 75);
        --greeniconbg: rgb(222, 250, 227);
        --goldiconbg: rgb(246, 236, 180);
        --goldiconcol: rgb(110, 95, 10);
        --blueiconcol: #4941bb;
        --blueiconbg: rgb(240, 240, 255);
        --blueiconbg: rgb(222, 222, 254);
        --blueiconcol: rgb(124, 124, 191);
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 999;
    }

    .nav-logo{
        font-size: 15px;
        font-weight: 600;
        margin-left: 100px;
    }

    .nav-menu{
        display: flex;
        gap: 20px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }

    .nav-toggle{
        display:none !important;
        cursor:pointer;
    }

    .hamburger{
        display:flex;
        flex-direction:column;
        gap:5px;
    }

    .bar{
        width:22px;
        height:3px;
        background:black;
        border-radius:5px;
    }

    .menu-close{
        display:none;
    }

    .nav-menu li a{
        text-decoration: none;
        color: black;
    }

    #home{
        padding-top: 80px;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
    }

    @media (min-width: 1200px){
        #home{
            padding-left: 300px;
            padding-right: 100px;
        }
        #about{
            padding-left: 300px !important;
            padding-right: 270px !important;
        }
        #skills{
            padding-left: 300px !important;
            padding-right: 270px !important;
        }
        #projects, #certificates, #contact{
            padding-left: 300px !important;
            padding-right: 270px !important;
        }
    }

    

    .tag{
        background: linear-gradient(
        135deg,
        #fcd8ff 0%,
        #efecfd 100%
    );
    font-size: 12px;
    border-radius: 20px;
    padding: 5px;
    color: #9375f6;
    }

    #sparkle{
        width: 100%;
        height: 23px;
        color: rgb(226, 208, 165);

    }

    h2{
        font-weight: 500;
        margin-bottom: 0;
    }

    h1{
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
    }

    .name{
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }

    .homedes{
        margin-top: 0;
        font-weight: 500;
    }

    .homedes span{
        color: var(--lavender);
    }

    .smallhomedes{
        margin-top: 0;
        font-size: 12px;
        line-height: 1.8;
        color: rgb(78, 75, 75);
        font-weight: 500;
        max-width: 400px;
    }


    .projects-btn, .contact-btn{
        display: inline-flex;
        align-items: center;
        padding: 10px 18px;
        gap: 5px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s ease;
        font-size: 12px;
    }

    .projects-btn{
        background: linear-gradient(
            135deg,
            var(--lavender) 0%,
            rgb(187, 179, 179) 100%
        );
        color: white;
    }

    .contact-btn{
        color: black;
        border-color: rgb(187, 179, 179);
        border-width: 1px;
        border-style: solid;
    }

    #rightarrow{
        width: 18px;
        height: 20px;
        background: transparent;
    }

    .home-btns{
        display: flex;
        gap: 20px;
        margin-top: 40px;
    }

    #in, #gh, #mail{
        font-size: 18px;
        background: transparent;
    }

    .home-socials{
        margin-top: 40px;
    }

    .homesocials-text{
        font-size: 13px;
        color: rgb(78, 75, 75);
        font-weight: 500;
    }

    .homesocial-icons{
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative;
        z-index: 999;
        
    }

    .homelinkedin, .homegithub, .homeemail{
        display: inline-flex;
        text-decoration: none;
        color:black;
        border-radius: 15px;
        padding: 8px 12px;
        background-color: #ebe8f0;
    }
    


    .hero-container{
        display: flex;
        justify-content: space-between;

    }


    .hero-img{
        position: relative;
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
    }

    .blobimg{
        position: absolute;
        width: 120%;
        height: auto;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
    }

    .focdev{
        position: relative;
        width: 80%;
        height: auto;
        z-index: 2;
    }

    .learning-card{
        display: flex;
        position: absolute;
        align-items: center;
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.951);
        padding: 7px 10px;
        gap: 15px;
        font-size: 11px;
        z-index:3;
        border-radius: 10px;
        bottom: -20%;
        right: 0%;
        box-shadow: 0 8px 25px rgba(0,0,0,0.08);
        max-width: 230px;
    }

    .learning-text{
        line-height: 1.4;
    }

    .learning-card i{
        font-size: 18px;
        color:#5d41bb;
        border-radius: 50px;
        background: #cad1ea;
        padding: 8px;
    }

    .learntitle{
        color: rgb(190, 21, 21);
        font-size: 10px;
    }
    .learndes{
        color: rgb(78, 75, 75);
        font-weight: 500;
    }

    #about{
        margin-top: 40px;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
        display: flex;
        justify-content: center;
    }
    
    .about-card{
        width: 100%;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: fit-content;
        border-radius: 18px;
        box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
        max-width: 1000px;
        margin: 0 auto;
        overflow-wrap:inherit;

    }


    .abblobs{
        position: relative;
        width: 280px;
        height: 280px;
        flex-shrink: 0;
    }

    .aboutcardtext{
        flex: 1;
        min-width: 0;
    }

    .abblobb{
        position: absolute;
        inset: 0;
        top: -14%;
        width: 100%;
        z-index: 1;
        
    }

    .abblobf{
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: 2;
        opacity: 0.5;
    }

    #usericon{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 150px;
        color: white;
        z-index: 3;
    }
    .card-contents{
        display:flex;
        gap: 20px;
        width:100%;
        padding: 20px;
        line-height: 0.4;
        position: relative;
        padding-bottom: 40px;
        
    }
    .abfirst{
        font-size: 12px;
        color: var(--description);
    }
    .abbold{
        font-weight: 600;
        font-size: 20px;
    }
    .abdes{
        font-size: 13px;
        color: var(--description);
        font-weight: 500;
        line-height: 1.5 !important;
        
    }

    .about-left{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .opentocard{
       display: flex;
       align-items: center;
       gap: 5px; 
       border-radius: 10px;
       background: rgb(247, 232, 255);
       width: fit-content;
       height: fit-content;
       padding: 10px;
       box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
       margin-top: -45px;

    }

    .opentocard i{
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(192, 249, 192);
        padding: 10px;
        border-radius: 50%;
        color: rgb(85, 175, 85);
        font-size: 18px;
        height: 36px;
    }
    .opentotext{
        font-size: 15px;
    }

    .absmallcards{
        display: flex;
        align-items: center;
        margin-top: 50px;
        gap: 30px;
        flex-wrap: wrap;
    }

    .scards{
        display: flex;
        align-items: center;
        height: fit-content;
        padding: 10px 20px;
        gap: 20px;
        max-width: 230px;
        border-radius: 10px;
        background: rgb(248, 242, 254);
        /*background: #f7f6f6;
        box-shadow: 0px 8px 25px rgba(0,0,0,0.2);*/
    }
    .scards p{
        line-height: 0.5;
    }

    .scard1 svg{
        display: flex;
        align-items: center;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 7px;
        color: var(--pinkiconcol);
        background: var(--pinkiconbg);
    }

    .scard2 svg{
        display: flex;
        align-items: center;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 7px;
        color: var(--pinkiconcol);
        background: var(--pinkiconbg);
    }

    .scard3 svg{
        display: flex;
        align-items: center;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 7px;
        color: var(--pinkiconcol);
        background: var(--pinkiconbg);
    }

    .resume a{
        font-weight: 600;
        font-size: 13px;
        margin: 0;
        text-decoration: none;
        color: white;
    }

    .resm svg{
        width: 36px;
        height: 36px;
        padding: 7px;
        display: flex;
        align-items: center;
    }
    .resm{
        display: inline-flex;
        align-items: center;
        padding: 0px 0px;
        max-width: 230px;
    }
    
    .resume{
        display: inline-flex;
        align-items: center;
        gap: 8px;
        background: linear-gradient(
            135deg,
            var(--lavender) 0%,
            rgb(187, 179, 179) 100%
        );
    }



    .smallcardtag{
        font-weight: 500;
        font-size: 13px;
    }

    .midtag, .year{
        font-size: 11px;
        font-weight: 500;
        color: var(--description);
    }

    #skills{
        margin-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
        display: flex;
        justify-content: center;
    }


    
    .skill-card{
        width: 100%;
        background: white;
        max-height: fit-content;
        border-radius: 18px;
        box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
        max-width: 1000px;
        margin: 0 auto;
        overflow-wrap:inherit;
        padding-bottom: 30px;
    }

    .skcardtitle{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
        margin-top: 0;
        justify-content: flex-start;
    }
    .skcardtitle svg{
        width: 20px;
        height: auto;
        color: rgb(109, 56, 184);
    }

    .sktitle{
        font-weight: 600;
    }

    .skcard-content{
        padding: 10px 40px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        /*gap: 30px;*/
        flex-wrap: wrap;
    }
    .skill{
        display: flex;
        gap: 10px;
    }

    .prgm, .webdev, .tool{
        font-size: 15px;
        font-weight: 500;
    }

    .sk{
        padding: 3px 10px;
        border-radius: 10px;
        font-size: 13px;
    }

    .p{
        background: rgb(246, 236, 180);
        color: rgb(110, 95, 10);
    }

    .w{
        background: var(--blueiconbg);
        color: var(--blueiconcol);
    }

    .t{
        background: var(--greeniconbg);
        color: var(--greeniconcol);
    }

    #projects{
        margin-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
        display: flex;
        justify-content: center;
    }

    .proj-card{
        width: 100%;
        background: white;
        max-height: fit-content;
        border-radius: 18px;
        box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
        max-width: 1000px;
        margin: 0 auto;
        overflow-wrap:inherit;
        padding-bottom: 5px;
        align-items: center;
    }

    .proj-img img{
        width: 200px;
        height: 120px;
        object-fit: cover;
        display: inline-block;
        border-radius: 15px;
        border: 1px solid var(--lavender);
    }

    .proj-img{
        display: inline-block;
        position: relative;
    }
    .duration-badge{
        position: absolute;
        align-items: center;
        display:flex;
        bottom: -8px;
        height: 30px;
        justify-content: center;
        padding: 0 12px;
        border-radius: 10px;
        background: rgba(244, 242, 242, 0.95);
        color: #555;
        font-size: 12px;
        font-weight: 500;
        gap: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    .duration-badge svg{
        width: 14px;
    }



    .projsmc{
        width: auto;
        background: rgb(253, 250, 255);
        box-shadow: 0 8px 25px rgba(0,0,0,0.08);
        border: 1px solid #e5e5e6;
        padding:0 15px;
        display:flex;
        margin: 0;
        justify-content: center;
        border-radius: 18px;
        height: auto;
        gap: 30px;
        align-items: center;
    }

    .live, .git{
        border-radius: 8px;
        text-decoration: none;
        font-size: 13px;
        padding:4px 5px;
    }

    .live{
        color: rgb(99, 47, 128);
        border: 1px solid rgb(99, 47, 128);;
    }

    .git{
        color: black;
        border-color: rgb(187, 179, 179);
        border-width: 1px;
        border-style: solid;
    }


    .projbuttons{
        display: flex;
        gap: 30px;
        padding: 20px 0;
        justify-content: flex-start;
    }

    

    .projsmallcards{
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 30px;
        flex-wrap: wrap;
        padding: 20px 40px;
    }

    .viewmorecont{
        display: flex;
        justify-content: center;
    }
    #viewmorebtn{
        display:flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        background: linear-gradient(
            135deg,
            var(--lavender) 0%,
            rgb(187, 179, 179) 100%
        );
        color: white;
        padding: 10px 18px;
        gap: 8px;
        font-weight: 500;
        cursor: pointer;
    }

    .projsmc{
        display: none;
    }
    .projsmc:nth-child(-n+3){
        display: flex;
    }

    #viewmorebtn svg{
        width: 30px;
        height: 20px;
    }

    .prcardtext{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        margin: 0;
    }


    .prtexthead{
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 2px;
    }

    

    .projtitle{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
        margin-top: 0;
        justify-content: flex-start;
    }
    .projtitle svg{
        width: 20px;
        height: auto;
        color: rgb(109, 56, 184);
    }

    .prtitletext{
        font-weight: 600;
    }

    .prtextdes{
        font-size: 12px;
        font-weight: 500;
        color: var(--description);
        margin-top: 0;
    }

    .techhead{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: -10px;

    }

    .techstackhead{
        font-size: 13px;
        font-weight: 500;
        padding-bottom: 2px;
        color: black;
    }


    .techcards{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .techhead svg{
        width: 20px;
        height: 20px;
        color: var(--pinkiconcol);
        
    }

    .techc{
        font-size: 12px;
        background-color: var(--goldiconbg);
        color: var(--goldiconcol);
    }

    .projects-btn, .contact-btn, #viewmorebtn, .resume, .live, .git{
        transition: all 0.3s ease;
    }

    .projects-btn:hover, .contact-btn:hover, .resume:hover, #viewmorebtn:hover, .live:hover, .git:hover{
        transform: translateY(-4px);
    }
    
    .projects-btn:active, .contact-btn:active, .resume:active, #viewmorebtn:active, .live:active, .git:active{
        transform: translateY(-1px);
    }

    #certificates{
        margin-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
        display: flex;
        justify-content: center;
    }

    .cert-card{
        width: 100%;
        background: white;
        max-height: fit-content;
        border-radius: 18px;
        box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
        max-width: 1000px;
        margin: 0 auto;
        overflow-wrap:inherit;
        padding-bottom: 3px;
        align-items: center;
    }


    .certtitle svg{
        width: 20px;
        height: 20px;
        color: rgb(109, 56, 184);

    }

    .certtitletext{
        font-weight: 600;
    }


    .certsmallcards{
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        padding: 20px 40px;
        align-items: stretch;
    }

    .certsmcard{
        width: 400px;
        background: rgb(253, 250, 255);
        box-shadow: 0 8px 25px rgba(0,0,0,0.08);
        border: 1px solid #d9d9dd;
        padding: 2px 10px;
        display:flex;
        margin: 0;
        justify-content: center;
        border-radius: 10px;
        min-height: 50px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .certsmcard p{
        margin: 2px 0;
    }

    .certtitle{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
        margin-top: 0;
        justify-content: flex-start;
        gap: 10px;
    }

    .certsmtitle, .acheivement{
        display: flex;
        gap: 3px;
        justify-content: flex-start;
        color: black

    }

    .certsmtitle svg{
        width: 20px;
        height: 20px;
        color: rgb(236, 201, 1);
        margin-top: 3px;
    }

    .certftitle, .acheivetitle{
        font-size: 13px;
        font-weight: 500;
    }

    .acheivement svg{
        width: 15px;
        height: 15px;
        color: rgb(104, 107, 103);
        margin-top: 4px;
    }

    .acheivement{
        padding-left: 18px;
    }

    .certplatform{
        font-size: 13px;
        color: var(--description);
        font-weight: 500;
        padding-left: 20px;
    }

    .certlink{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .certlink svg{
        width: 14px;
        height: 14px;
    }

    .certdest{
        font-size: 13px;
        font-weight: 500;
        color: rgb(56, 19, 99);
        text-decoration: none;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .certdest:hover{
        opacity: 0.8;
        transition: all 0.3s ease;
        transform: translateY(-5px);
        align-items: stretch;
    }

    .certdest:active{
        transition: all 0.1s ease;
        transform: translateY(2px);
    }

    #viewmorecert{
        display:flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        background: linear-gradient(
            135deg,
            var(--lavender) 0%,
            rgb(187, 179, 179) 100%
        );
        color: white;
        padding: 10px 18px;
        gap: 8px;
        font-weight: 500;
        cursor: pointer;
    }

    .view-more-cert{
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }

    #viewmorecert svg{
        width: 30px;
        height: 20px;
    }


    #contact{
        background: #fbfafa; /* same as site background */
        border-top: 1px solid #e4e4e5;
        margin: 0;
        margin-top: 80px;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
        padding-bottom: 30px;
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }

    .footleft{
        width: 210px;
    }
    .nameinfooter{
        font-size: 13px;
        font-weight: 600;
    }
    .quote{
        font-size: 12px;
        font-weight: 500;
        color: var(--description);
    }

    .linksfoot{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    

    .quicklinkhead{
        font-size: 13px;
        font-weight: 600;
        color: var(--description);
        margin-left: -32px;
    }

    .quicklink{
        font-size: 12px;
        font-weight: 500;
        color: var(--description);
        text-decoration: none;
        margin-left: -28px;
       
    }

    .letsconnecthead{
        font-size: 13px;
        font-weight: 600;
        color: var(--description);
    }

    .contactsfoot{
        font-size: 12px;
        font-weight: 500;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    #conti{
        display: inline-flex;
        text-decoration: none;
        color:black;
        border-radius: 50%;
        padding: 6px;
        background-color: #ebe8f0;
        margin-right: 4px;
    }

    .contsoc{
        text-decoration: none;
        color: var(--description);
    }

    .copyrights{
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: var(--description);
    }

    .quicklink:hover, .contsoc:hover{
            color: rgb(115, 107, 171);
        }

    .contsoc:hover #conti{
        transition: all 0.3s ease;
        transform: translateY(-3px);
    }



    

    @media (max-width:768px){

        .proj-img img{
            width: 100%;
            max-width: 350px;
            height: auto;
        }

        .projsmc{
            flex-direction: column;
            padding: 20px 10px;
        }

        .skcard-content{
            gap: 10px;
        }

        .card-contents{ 
            flex-direction: column;
            align-items: center;
        }
        .contactsfoot{
            display: flex;

        }
        #contact{
            background: rgb(125, 80, 247);
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;

        }

        .copyrights{
            background: rgb(125, 80, 247);
            color: white;
        }

        .copyrightshead{
            margin-top: 0;
        }

        .nameinfooter, .quote{
            text-align: center;
        }
        .nameinfooter{
            margin-top: 0;
        }

        .letsconecthead, .quicklinkhead{
            margin-top:0;
            text-align: center;
        }

        .quote, .quicklink, .contsoc{
            margin-bottom: 0;
        }


        .letsconnecthead, .contsoc, .quicklink, .quicklinkhead, .quote{
            color: white;
        }

        .quicklink:hover, .contsoc:hover{
            color: rgb(52, 16, 88);
        }

        .contsoc:hover #conti{
            transition: all 0.3s ease;
            transform: translateY(-3px);
        }

        .hero-container{
        flex-direction: column;
        gap: 60px;
        }

        .navbar{
            padding:30px 20px;
            position:fixed;
            top: 0;
            left: auto;
            width:100%;
            z-index:1000;
            background: linear-gradient(
                135deg,
                #8b6cf6 0%,
                #b8b0c9 100%
            );
            color: white;
            padding-top: 20px;
            left: 0;
        }

        #home, #about, #projects, #skills, #certificates{
            padding: 20px 30px !important;
        }

        

        .nav-toggle{
            display:flex !important;
            cursor:pointer;
            align-items: center;
        }

        .hamburger{
            display:flex;
            flex-direction:column;
            gap:5px;
            background:transparent;
            margin-right: 80px;
        }

        .bar{
            width:18px;
            height:2.5px;
            background:white;
            border-radius:5px;
            margin-right:0;
        }
        
        .nav-logo{
            margin-left: 30px !important;
        }

        .nav-menu{
            position:fixed;
            top:0;
            left:0;

            width:100%;
            height:300px;

            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;

            gap:20px;

            background:rgb(125, 80, 247);

            opacity:0;
            pointer-events:none;
            transform:translateY(-30px);

            transition:0.3s ease;
            z-index:999;
            margin-top: -10px;
        }

        .nav-menu.active{
            opacity:1;
            pointer-events:auto;
            transform:translateY(0);
        }

        .menu-close{
            display:block;
            position:absolute;
            top:25px;
            right:55px;
            background:transparent;
            cursor:pointer;
        }

        .menu-close i{
            font-size:32px;
            color:white;
            background:transparent;
        }

        .menu-item{
            background:transparent;
            margin-left: -40px;
        }

        .menu-item a{
            color: white !important;
            font-size: 15px;
            font-weight:500;
            text-decoration:none;
            background:transparent;
        }

        #home{
            padding-top: 100px !important;
            margin-left: auto;
            margin-right: auto;
        }


        .tag{
            font-size: 10px;
        }
        

    }
    @media(min-width:1200px){
        .nav-logo{
            margin-left: 280px;
        }
        
    }

    @media (min-width:600px) and (max-width: 768px){
        .projsmallcards{
            padding: 20px 90px !important;
        }
    }

    @media (max-width: 600px){
        .projsmallcards{
            padding: 20px 30px !important;
        }
    }

